.recipe{
	border-radius: 10px;
	box-shadow: 0px 5px 20px rbg(71,71,71,71,71,71);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	min-width: 40%;
}

.calories{
	font-size: 20px;
	font-weight: bold;
}

.ingredients{
	margin-top: 20px;
	margin-bottom: -10px;
}